<div class="col-md-3">
 <%= render 'books/list', user: current_user %>
 <%= render 'books/book_new', book: @book %>
</div>

<div class="col-md-8 offset-md-1">
 <h2>Users</h2>
 <table class="table">
  <thead>
   <tr>
   <th><% @users.each do |user| %></th>
   <th>image</th>
   <th>name</th>
   </tr>
 </thead>
 <tbody>
  <tr>
   <td><%= image_tag user.get_profile_image(100,100) %><td>
   <td><%= user.name %></td>
   <td><%= link_to "Show",books_path %></td>
  </tr>
 </tbody>
 </thead>
</table>
</div>
<% end %>