<div class="container">
 <div class="row">

<div class="col-md-3">
 <%= render 'list', user: @book.user %>
 <%= render 'book_new', book: @book %> 
</div>

<div class="col-md-8 offset-md-1">
  
  <p id="notice">
  </p>
 

 <h1>Book detail</h1>
 <table class="table">
  <tbody>
   <tr>
    <td><%= link_to user_path(@user) do %><%= image_tag @book.user.get_profile_image(100,100) %><br>
    <%= link_to user_path(@user) do %><%= @book.user.name %><% end %></td><% end %>
    <td><%= link_to book_path(@book) do %><%= @book.title %><% end %></td>
    <td><%= @book.body %></td>
    <% if @book.user == current_user %>
    <td><%= link_to "Edit",edit_book_path(@book),class: 'btn btn-sm btn-success' %></td>
    <td><%= link_to "Destroy",book_path(@book),method: :delete,"data-confirm" => "本当に削除しますか？",class: 'btn btn-sm btn-danger' %></td>
   </tr>
  </tbody>
 </table>
</div>
</div>
</div>
<% end %>
 </div>
 

 
 
