<h2>Book detail</h2>

<%= @book.title %>

<%= @book.body %>

<%= @book.user == current_user %>
 <%= link_to "destroy",books_path(@book),method: :delete %>
 <%= link_to"Edit",edit_book_path(@book.id) %>
<% end %>

<%= render 'list',user: @user %>