<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/7af3bdf8d7.js" crossorigin="anonymous"></script>
  </head>

  <body>
  <header>
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       <div class="container">
       <a class="navbar-brand" href="/"><span>Bookers</span></a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNavDropdown">
       <ul class="navbar-nav ml-auto">
         <% if user_signed_in? %>
        <li class="form">
          <i class="fa-solid fa-house"></i>
         <%= link_to'Home',root_path,class: 'nav-link text-light' %>   
        </li>
        <li class="form">
          <i class="fa-solid fa-users"></i>
         <%= link_to'Users',users_path,class: 'nav-link text-light' %>   
        </li>
        <li class="form">
          <i class="fa-solid fa-book-open"></i>
           <%= link_to'Books', books_path,class:'nav-link text-light' %>
        </li>
        <li class="form">
          <i class="fa-solid fa-users"></i>
           <%= link_to'Log out',root_path,class:'nav-link text-light' %>
        </li>
      </ul>
     </div>
    </div>
   </nav>
  </header>
        <% else %>
            <li>
             <a class="nav-link text-light" href="/">
               <i class="fas fa-home"></i>Home</a></li>
            <li>
              <a class="nav-link text-light" href="about">
                <i class="fa-solid fa-link"></i></i>About</a></li>
            </li>
            <li>
             <a class="nav-link text-light" href="/users/sign_up">
               <i class="fa-solid fa-user-plus"></i>Sign Up</a></li>
            <li>
             <a class="nav-link text-light" href="/users/sign_in">
               <i class="fas fa-sign-in-alt"></i>Log in</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <% end %>
    </header>
   <%= yield %>
    <footer>
    <div class="sontainer mt-5">
      <div class="row">
        <div class="mx-auto">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </footer>
  </body>
</html>
